/*background logo e dimensione*/
/*header inizio*/
#sezione_logo{
    background-color: rgb(46, 75, 173);
}


#logo {
    height: 50px; 
}

#creatore {
    color: rgb(50, 134, 198);
}
/*header fine*/


/*main inizio*/





/*tabella*/
#table_head{
    background-color: rgb(16, 146, 183);
    font-size: 30px;
    color: aliceblue;
}    
    
#linea1{
    background-color: rgb(26, 149, 225);
}

#linea2{
    background-color: rgb(26, 149, 225);
}



/*main fine*/