/*background logo e dimensione*/
/*header inizio*/
#sezione_logo{
    background-color: rgb(46, 75, 173);
}


#logo {
    height: 50px; 
}

#Creatore {
    color: rgb(121, 128, 133);
}

#Nome_Creatore {
    color: rgb(14, 178, 243);
}
/*header fine*/


/*main inizio*/

#Words_Bg{
    background-color: rgb(244, 237, 106);
}




/*tabella*/
#Table_Head{
    background-color: rgb(16, 146, 183);
    font-size: 30px;
    color: aliceblue;
}    

.Table_Body{
    font-size: 20px;
    font-weight: bold;
}
    
#linea1{
    background-color: rgb(26, 149, 225);
}

#linea2{
    background-color: rgb(26, 149, 225);
}



/*main fine*/