/*background logo e dimensione*/
/*header inizio*/
#sezione_logo{
    background-color: rgb(46, 75, 173);
    background-image: url(/BONUS/img/pattern.png);
   background-size: 5cm;
   height: 100px;
}


#logo {
    height: 70px; 
}

#Creatore {
    color: rgb(121, 128, 133);
}

#Nome_Creatore {
    color: rgb(14, 178, 243);
}
/*header fine*/


/*main inizio*/

/*articolo inizio*/

#Articolo{
    font-weight: bolder;
    
}

#Words_Bg{
    background-color: rgb(244, 237, 106);
}
/*articolo fine*/


/*lista inizio*/
#Lista{
    font-weight: bolder;
}
/*lista fine*/


/*tabella inizio*/
#Table_Head{
    background-color: rgb(16, 146, 183);
    font-size: 30px;
    color: aliceblue;
}    

.Table_Body{
    font-size: 17px;
    font-weight: bolder;
}

    
#linea1{
    background-color: rgb(26, 149, 225);
}

#linea2{
    background-color: rgb(26, 149, 225);
}

/*tabella fine*/
/*main fine*/

/*BONUS*/
#Bonus_Phrase{
    color: gray;
}


/*immagini bonus*/
.Monitor{
    position: relative;
    text-align: left;
  color: white;
}

.Text_Monitor{
    position: absolute;
  bottom: 8px;
  left: 16px;
    
}